---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
{% include base_path %}

{% assign title_shown = false %}
{% for post in site.talks reversed %}
  {% unless title_shown %}
    <h2>Talks</h2><hr />
    {% assign title_shown = true %}
  {% endunless %}
  {% include archive-single-talk.html %}
{% endfor %}

{% assign title_shown = false %}
{% for post in site.posters reversed %}
  {% unless title_shown %}
    <h2>Posters</h2><hr />
    {% assign title_shown = true %}
  {% endunless %}
  {% include archive-single-talk.html %}
{% endfor %}
